{% extends 'email/email-base.html.twig' %}

{% block title %}
    Reservation Accepted
{% endblock %}

{% block preview %}
    Congratulations! Your reservation was accepted by the owner.
{% endblock %}

{% block body %}
<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td align="center" bgcolor="#F9F5F4" class="px-sm-16">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td bgcolor="#8C403F">
                        <!--[if gte mso 9]>
                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;">
                            <v:fill type="gradient" color="#0072FF" color2="#00C6FF" angle="90" />
                            <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                                <div><![endif]-->
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 32px;">&zwnj;</div>
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td align="center" class="px-sm-16" style="padding: 0 96px;">
                                    <h1 class="webfont h1" style="color: #FFFFFF; font-size: 36px; font-weight: 300; line-height: 100%; margin: 0;">Reservation Accepted</h1>
                                </td>
                            </tr>
                        </table>
                        <div class="spacer line-height-sm-0 py-sm-16" style="line-height: 40px;">&zwnj;</div>
                        <!--[if gte mso 9]></div></v:textbox></v:rect><![endif]-->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td class="px-sm-16" align="center" bgcolor="#F9F5F4">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td class="px-sm-8" align="left" bgcolor="#FFFFFF" style="padding: 0 24px;">
                        <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 24px;">&zwnj;</div>
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td class="col px-sm-16" align="center" width="100%" style="padding: 0 64px;">
                                    <h2 style="color: #6B6B6B; font-size: 24px; font-weight: 300; line-height: 28px; margin: 0 0 24px;">Hi {{ name }},</h2>
                                    <p style="color: #6B6B6B; font-size: 16px; line-height: 24px; margin: 0;">Congratulations, your reservation has been accepted!</p>
                                    <div class="spacer" style="line-height: 32px;">&zwnj;</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td class="px-sm-16" align="center" bgcolor="#F9F5F4">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td class="px-sm-8" align="left" bgcolor="#FFFFFF" style="padding: 0 24px;">
                        <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                            <tr>
                                <td class="col px-sm-16" align="center" width="100%" style="padding: 0 64px;">
                                    <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                        <tr>
                                            <td class="col pb-sm-8 hide-sm" width="100" style="padding: 0 8px;">
                                                <img src="{{ businessImage }}" alt="Business" width="100">
                                            </td>
                                            <td class="col webfont" width="284" style="padding: 0 8px; vertical-align: middle;">
                                                <h3 style="font-size: 16px; margin: 0 0 8px; font-weight: 600" class="text-sm-center">{{ businessName }}</h3>
                                                <table cellpadding="0" cellspacing="0" role="presentation" width="100%" style="margin-bottom: 10px;">
                                                    <tr>
                                                        <td class="col col-sm-0 pb-sm-8" width="30" style="padding: 0 8px 0 0 ; vertical-align: middle">
                                                            <img alt="Map" src="https://ucarecdn.com/9bf9a38b-4f74-48cd-abe9-04553e10fece/map.png" width="30">
                                                        </td>
                                                        <td class="col col-sm-3 webfont" width="254" style="padding: 0 8px; vertical-align: middle;">
                                                            <p style="color: #8C403F; margin: 0; font-weight: 700">{{ businessAddress }}</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" role="presentation" width="100%" style="margin-bottom: 10px;">
                                                    <tr>
                                                        <td class="col col-sm-0 pb-sm-8" width="30" style="padding: 0 8px 0 0; vertical-align: middle">
                                                            <img alt="Calendar" src="https://ucarecdn.com/bf97bb1b-9aeb-4d8c-9e7a-34b376453dd7/calendar.png" width="30">

                                                        </td>
                                                        <td class="col col-sm-3 webfont" width="254" style="padding: 0 8px; vertical-align: middle;">
                                                            <p style="color: #8C403F; margin: 0; font-weight: 700">{{ dateFrom }} - {{ dateTo }}</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                    <tr>
                                                        <td class="col col-sm-0 pb-sm-8" width="30" style="padding: 0 8px 0 0; vertical-align: middle">
                                                            <img alt="People" src="https://ucarecdn.com/8cc8bacd-07b6-4740-b079-643389b81ece/person.png" width="30">
                                                        </td>
                                                        <td class="col col-sm-3 webfont" width="254" style="padding: 0 8px; vertical-align: middle;">
                                                            <p style="color: #8C403F; margin: 0; font-weight: 700">{{ numPeople }} people</p>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- <td class="col col-sm-1 col-sm-push-1 webfont" width="48" style="padding: 0 8px; vertical-align: middle;">x1</td>
                                            <td class="col col-sm-1 col-sm-push-1 webfont" align="right" width="56" style="font-weight: 700; padding: 0 8px; vertical-align: middle;">$49.95</td> -->
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="wrapper" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tr>
        <td class="px-sm-16" align="center" bgcolor="#F9F5F4">
            <table class="container" cellpadding="0" cellspacing="0" role="presentation" width="600">
                <tr>
                    <td class="px-sm-8" align="left" bgcolor="#FFFFFF" style="padding: 0 24px;">
                        <div class="spacer line-height-sm-0 py-sm-8" style="line-height: 40px;">&zwnj;</div>
                        <p style="color: #999999; margin: 0; font-size: 13px; line-height: 22px; text-align: center;">Thanks<br>The Bedder Team</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{% endblock %}
